#seitenkopf {
  font-style: italic;
  padding: 1em;
  text-align: center;
  background: silver;
  color: crimson;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
}
#seitenkopf h1 {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
}

.kw {
  font-style: italic;
  font-size: smaller;
}
#kalenderblatt td.sa {
  background-color: rgb(6, 252, 18);
  color: rgb(15, 41, 32);
}
#kalenderblatt td.so {
  color: rgb(255, 8, 8);
  background-color: rgb(31, 7, 252);
}
#kalenderblatt td {
  border-bottom: solid black;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
}
table {
  border: solid crimson;
  margin: 30px auto;
}

#introtext,
#historie {
  padding: 1em;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: 2px;
  font-size: 1em;
  padding: 1em;
}

#div2 {
  background-image: url(mhw-behemoth.png);
  background-repeat: no-repeat;
  display: grid;
  background-size: 500px;
  background-position: top right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  margin: 5px;
  padding: 5px;
}
@media only screen and (max-width: 800px) {
  #div2 {
    background-position: top left;
  }
}

#kalenderblatt table {
  margin: 20px auto;
}
#kalenderblatt table td {
  width: 50px;
  text-align: center;
  padding: 0.5em;

  cursor: pointer;
}
#kalenderblatt td:hover {
  background: rgb(113, 139, 0);
}
#kalenderblatt td.heute:hover {
  background: yellow;
}
#kalenderblatt td.kw:hover {
  background: unset;
}
#debug {
  margin: 10px;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: auto;
  grid-row-start: 5;
  grid-row-end: auto;
}
